<h1>Search Movie</h1>
<h2>Search movie by Movie ID to Delete</h2>
<form method="POST" action="/movies/delete" class="search-form">
  <input type="text" name="movie_id" placeholder="Enter Movie ID" required />
  <input type="submit" value="Delete" />
</form>