<h1>Search Movie</h1>
<h2>Search movie by Movie ID</h2>
<form method="POST" action="/movies/search" class="search-form">
  <input type="text" name="movie_id" placeholder="Enter Movie ID" required />
  <input type="submit" value="Search" />
</form>